* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

main {
  margin-top: 3%;
  width: 60%;
  height: 80%;
  background-color: cadetblue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid whitesmoke;
}

header h1 {
  font-size: 2.6rem;
  color: whitesmoke;
  -webkit-text-stroke: 0.5px darkblue;
}

form {
  width: 40%;
  height: 80%;
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

form input[type='text'],
input[type='email'] {
  width: 50%;
  height: 10%;
  border: none;
  outline: none;
  background-color: darkblue;
  color: whitesmoke;
  margin-bottom: 10px;
  padding: 5px;
}

form input::placeholder {
  color: whitesmoke;
}

button {
  width: 50%;
  height: 15%;
  background-color: darkred;
  border: none;
  outline: none;
  margin-top: 20px;
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
